<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- MYEMMA -->
    <add key="MyEmma_Uri" value="https://app.e2ma.net/app/view:RemoteSignup" />
    <add key="MyEmma_UserName" value="emma_user"/>
    <add key="MyEmma_Password" value="emma_password" />
    <add key="MyEmma_AccountId" value="123456"/>
    <add key="MyEmma_GroupId" value="123456789"/>
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>